DEBUG=False
SECRET_KEY="change-this-secret-key"
PORT=8000
ALLOWED_HOSTS="165.227.68.255,localhost,127.0.0.1,0.0.0.0"
DATABASE_URL="postgresql://user:password@db-host:5432/superlearner_db"

# Configuración de correo (puedes usar cualquier cuenta de prueba)
EMAIL_HOST_USER="your-email@example.com"
EMAIL_HOST_PASSWORD="your-app-password"


EMAIL_SUPERUSUARIO="admin@example.com"
PASSWORD_SUPERUSUARIO="change-this-password"



# Username: 
# Email address: 
# Password: 