DEBUG=True
SECRET_KEY=""
DATABASE_URL="postgresql://postgres:rootpostgres@localhost:5432/superlearner_db"

# Configuración de correo (puedes usar cualquier cuenta de prueba)
EMAIL_HOST_USER="fake@gmail.com"
EMAIL_HOST_PASSWORD="fakepassword"


EMAIL_SUPERUSUARIO="admin@admin.com"
PASSWORD_SUPERUSUARIO="admin"



# Username: 
# Email address: 
# Password: 